{%- comment -%}
  Mega Menu with Images Section
  Esta seção implementa um menu mega dropdown com suporte a imagens, similar ao exemplo fornecido.
{%- endcomment -%}

<style>
  :root {
    --sticky-header-enabled: {% if section.settings.enable_sticky_header %}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    --header-grid-template: "main-nav logo secondary-nav" / minmax(0, 1fr) auto minmax(0, 1fr);
    --header-padding-block: var(--spacing-3);
    --header-background-opacity: 1.0;
    --header-background-blur-radius: 20px;
    --header-transparent-text-color: 255 255 255;
    --header-logo-width: 100px;
    --header-logo-height: 29px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .shopify-section--announcement-bar ~ #shopify-section-{{ section.id }} {
    top: calc(var(--sticky-announcement-bar-enabled, 0) * var(--announcement-bar-height, 0px));
  }

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} {
      --header-logo-width: 120px;
      --header-logo-height: 34px;
      --header-padding-block: var(--spacing-6);
    }
  }

  @media screen and (min-width: 1150px) {
    #shopify-section-{{ section.id }} {
      --header-grid-template: "logo main-nav secondary-nav" / minmax(0, 1fr) fit-content(70%) minmax(0, 1fr);
    }
  }
</style>

<height-observer variable="header">
  <store-header class="header" sticky="" allow-transparency="">
    <div class="header__wrapper">
      <div class="header__main-nav">
        <div class="header__icon-list">
          <button type="button" class="tap-area lg:hidden" aria-controls="header-sidebar-menu" aria-expanded="true">
            <span class="sr-only">{{ 'header.general.navigation' | t }}</span>
            <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-hamburger" viewBox="0 0 22 22">
              <path d="M1 5h20M1 11h20M1 17h20" stroke="currentColor" stroke-linecap="round"></path>
            </svg>
          </button>

          <a href="/search" class="tap-area sm:hidden" aria-controls="search-drawer">
            <span class="sr-only">{{ 'search.general.title' | t }}</span>
            <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-search" viewBox="0 0 22 22">
              <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
              <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
          <nav class="header__link-list justify-center wrap" role="navigation">
            <ul class="contents" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  <details is="mega-menu-disclosure" trigger="hover">
                    <summary class="text-with-icon gap-2.5 bold link-faded-reverse" data-url="{{ link.url }}" onclick="if(window.innerWidth > 1150) { window.location.href = '{{ link.url }}'; }">
                      {{ link.title }}
                      <svg role="presentation" focusable="false" width="10" height="7" class="icon icon-chevron-bottom" viewBox="0 0 10 7">
                        <path d="m1 1 4 4 4-4" fill="none" stroke="currentColor" stroke-width="2"></path>
                      </svg>
                    </summary>
                    
                    <style>
                      @media screen and (min-width: 1150px) {
                        #mega-menu-{{ link.handle }} {
                          --mega-menu-nav-column-max-width: 160px;
                          --mega-menu-justify-content: center;
                          --mega-menu-nav-gap: var(--spacing-8);
                          
                          {% if link.links.size > 3 %}
                            --column-list-max-width: 75%;
                          {% endif %}
                        }
                      }

                      @media screen and (min-width: 1400px) {
                        #mega-menu-{{ link.handle }} {
                          --mega-menu-nav-column-max-width: 180px;
                          --mega-menu-nav-gap: var(--spacing-12);
                          
                          {% if link.links.size > 3 %}
                            --column-list-max-width: 75%;
                          {% endif %}
                        }
                      }

                      @media screen and (min-width: 1600px) {
                        #mega-menu-{{ link.handle }} {
                          --mega-menu-nav-gap: var(--spacing-16);
                        }
                      }

                      @media screen and (min-width: 1800px) {
                        #mega-menu-{{ link.handle }} {
                          --mega-menu-nav-gap: var(--spacing-20);
                        }
                      }
                    </style>
                                        <div id="mega-menu-{{ link.handle }}" class="mega-menu" style="opacity: 0;">
                                            <ul class="mega-menu__nav" role="list">
                                              {%- for sub_link in link.links -%}
                                                <li class="v-stack gap-4 justify-items-start">
                                                  <a class="h5" style="opacity: 1; transform: translateY(0px);">
                                                    <span>{{ sub_link.title }}</span>
                                                  </a>
                                                  
                                                  {%- if sub_link.links.size > 0 -%}
                                                    <ul class="v-stack gap-2 justify-items-start" role="list">
                                                      {%- for sub_sub_link in sub_link.links -%}
                                                        <li style="opacity: 1; transform: translateY(0px);">
                                                          <a href="{{ sub_sub_link.url }}" class="link-faded">
                                                            <span>{{ sub_sub_link.title }}</span>
                                                          </a>
                                                        </li>
                                                      {%- endfor -%}
                                                    </ul>
                                                  {%- endif -%}
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                            <style>
                                                #navigation-promo-{{ link.handle }} {
                                                  --navigation-promo-grid: auto / auto;
                                                  --mega-menu-promo-grid-image-max-width: 300px;
                                                  --mega-menu-promo-grid-image-min-width: 172px;
                                                  --promo-heading-font-size: var(--text-h3);
                                                  --content-over-media-row-gap: var(--spacing-4);
                                                  --content-over-media-column-gap: var(--spacing-5);
                                                  --promo-heading-line-height: 1.2;
                                                }
                        
                                                #navigation-promo-{{ link.handle }} .navigation-promo__carousel-controls {
                                                  inset-block-end: var(--content-over-media-column-gap);
                                                }
                        
                                                @media screen and (min-width:700px) {
                                                  #navigation-promo-{{ link.handle }} {
                                                    --mega-menu-promo-grid-image-min-width: 192px;
                                                    --content-over-media-row-gap: var(--spacing-5);
                                                    --content-over-media-column-gap: var(--spacing-6);
                                                  }
                                                }
                                                
                                                @media screen and (min-width: 1150px) {
                                                  #navigation-promo-{{ link.handle }} {
                                                    --promo-heading-font-size: var(--text-h4);
                                                    --promo-heading-line-height: 1.3;
                                                    --navigation-promo-gap: var(--spacing-4);
                                                    --mega-menu-promo-grid-image-min-width: 220px;
                                                    max-width: 360px;
                                                  }
                                                  
                                                  #navigation-promo-{{ link.handle }} {
                                                    --content-over-media-row-gap: var(--spacing-6);
                                                    --content-over-media-column-gap: var(--spacing-8);
                                                  }
                                                }
                        
                                                @media screen and (min-width: 1400px) {
                                                  #navigation-promo-{{ link.handle }} {
                                                    --mega-menu-promo-grid-image-max-width: 360px;
                                                  }
                                                }
                                              </style>
                                                                    <div class="navigation-promo__wrapper" id="navigation-promo-{{ link.handle }}">
                                                                        <div class="relative">
                                                                          <mega-menu-promo-carousel id="promo-carousel-{{ link.handle }}" class="navigation-promo navigation-promo--carousel" role="region" style="--navigation-promo-gap: 0">
                                                                            {%- for block in section.blocks -%}
                                                                              {%- if block.settings.menu_item == link.title and block.type == 'promo_image' -%}
                                                                                <a href="{{ block.settings.link }}" class="content-over-media rounded-sm group {% if forloop.first %}is-selected{% else %}reveal-invisible{% endif %}" style="--text-color: 255 255 255; grid-area: 1 / -1;">
                                                                                  <img src="{{ block.settings.image | img_url: 'master' }}" 
                                                                                       alt="{{ block.settings.image.alt | escape }}" 
                                                                                       srcset="{{ block.settings.image | img_url: '200x' }} 200w, 
                                                                                               {{ block.settings.image | img_url: '300x' }} 300w, 
                                                                                               {{ block.settings.image | img_url: '400x' }} 400w, 
                                                                                               {{ block.settings.image | img_url: '500x' }} 500w, 
                                                                                               {{ block.settings.image | img_url: '600x' }} 600w, 
                                                                                               {{ block.settings.image | img_url: '800x' }} 800w, 
                                                                                               {{ block.settings.image | img_url: '1000x' }} 1000w" 
                                                                                       width="{{ block.settings.image.width }}" 
                                                                                       height="{{ block.settings.image.height }}" 
                                                                                       loading="eager" 
                                                                                       sizes="(max-width: 699px) 100vw, (max-width: 1150px) 316px, 360px" 
                                                                                       class="zoom-image">
                                                                                  <div class="place-self-end-start text-custom">
                                                                                    <p class="bold" style="font-size: var(--promo-heading-font-size); line-height: var(--promo-heading-line-height, 1.4)">{{ block.settings.heading }}</p>
                                                                                  </div>
                                                                                </a>
                                                                              {%- endif -%}
                                                                            {%- endfor -%}
                                                                          </mega-menu-promo-carousel>
                                                                          <div class="navigation-promo__carousel-controls" style="--text-color: 255 255 255;">
                                                                            <button is="prev-button" aria-controls="promo-carousel-{{ link.handle }}">
                                                                              <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
                                                                              <svg role="presentation" focusable="false" width="26" height="26" class="icon icon-circle-button-left-clipped reverse-icon" viewBox="0 0 24 24">
                                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12Zm1.53-14.47L11.06 12l2.47 2.47-1.06 1.06-3-3-.53-.53.53-.53 3-3 1.06 1.06Z" fill="currentColor"></path>
                                                                              </svg>
                                                                            </button>
                                                
                                                                            <button is="next-button" aria-controls="promo-carousel-{{ link.handle }}">
                                                                              <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
                                                                              <svg role="presentation" focusable="false" width="26" height="26" class="icon icon-circle-button-right-clipped reverse-icon" viewBox="0 0 24 24">
                                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12ZM10.47 9.53 12.94 12l-2.47 2.47 1.06 1.06 3-3 .53-.53-.53-.53-3-3-1.06 1.06Z" fill="currentColor"></path>
                                                                              </svg>
                                                                            </button>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </details>
                                                                </li>
                                                              {%- endfor -%}
                                                            </ul>
                                                          </nav>
                                                        </div>
                                                      </div>
                                                      <a href="/" class="header__logo">
                                                      <span class="sr-only">{{ shop.name }}</span>
                                                      <img src="{{ section.settings.logo | img_url: '280x' }}" 
                                                           alt="{{ section.settings.logo.alt | escape }}" 
                                                           srcset="{{ section.settings.logo | img_url: '240x' }} 240w, 
                                                                   {{ section.settings.logo | img_url: '280x' }} 280w" 
                                                           width="280" 
                                                           height="80" 
                                                           sizes="120px" 
                                                           class="header__logo-image">
                                                      
                                                      {%- if section.settings.transparent_logo != blank -%}
                                                        <img src="{{ section.settings.transparent_logo | img_url: '1654x' }}" 
                                                             alt="{{ section.settings.transparent_logo.alt | escape }}" 
                                                             srcset="{{ section.settings.transparent_logo | img_url: '240x' }} 240w, 
                                                                     {{ section.settings.transparent_logo | img_url: '280x' }} 280w" 
                                                             width="1654" 
                                                             height="223" 
                                                             sizes="120px" 
                                                             class="header__logo-image header__logo-image--transparent">
                                                      {%- endif -%}
                                                    </a>
                                                    
                                                    <div class="header__secondary-nav">
                                                      <div class="header__icon-list">
                                                        <a href="/search" class="hidden tap-area sm:block" aria-controls="search-drawer">
                                                          <span class="sr-only">{{ 'search.general.title' | t }}</span>
                                                          <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-search" viewBox="0 0 22 22">
                                                            <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                                                            <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                          </svg>
                                                        </a>
                                                        
                                                        <a href="/account" class="hidden tap-area sm:block">
                                                          <span class="sr-only">{{ 'header.general.account' | t }}</span>
                                                          <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-account" viewBox="0 0 22 22">
                                                            <circle cx="11" cy="7" r="4" fill="none" stroke="currentColor"></circle>
                                                            <path d="M3.5 19c1.421-2.974 4.247-5 7.5-5s6.079 2.026 7.5 5" fill="none" stroke="currentColor" stroke-linecap="round"></path>
                                                          </svg>
                                                        </a>
                                                        
                                                        <a href="/cart" data-no-instant="" class="icon-cart-drawer relative tap-area" aria-controls="cart-drawer">
                                                          <span class="sr-only">{{ 'header.general.cart' | t }}</span>
                                                          <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-cart" viewBox="0 0 22 22">
                                                            <path d="M14.666 7.333a3.666 3.666 0 1 1-7.333 0M3.33 6.785l-.642 7.7c-.137 1.654-.206 2.48.073 3.119a2.75 2.75 0 0 0 1.21 1.314c.612.332 1.442.332 3.102.332h7.853c1.66 0 2.49 0 3.103-.332a2.75 2.75 0 0 0 1.21-1.314c.279-.638.21-1.465.072-3.12l-.642-7.7c-.118-1.423-.178-2.134-.493-2.673A2.75 2.75 0 0 0 16.99 3.02c-.563-.269-1.277-.269-2.705-.269h-6.57c-1.428 0-2.142 0-2.705.27A2.75 2.75 0 0 0 3.823 4.11c-.315.539-.374 1.25-.493 2.674Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                          </svg>
                                                          <div class="header__cart-count">
                                                            <cart-count class="count-bubble opacity-0" aria-hidden="true">0</cart-count>
                                                          </div>
                                                        </a>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </store-header>
                                              </height-observer>
                                              <navigation-drawer mobile-opening="bottom" open-from="left" id="header-sidebar-menu" class="navigation-drawer drawer lg:hidden" role="dialog" aria-modal="true">
  <button is="close-button" aria-label="{{ 'general.accessibility.close' | t }}" class="sm-max:hidden">
    <svg role="presentation" stroke-width="2" focusable="false" width="19" height="19" class="icon icon-close" viewBox="0 0 24 24">
      <path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path>
    </svg>
  </button>
  
  <div class="panel-list__wrapper">
    <div class="panel" style="transform: translateX(0%); opacity: 1; visibility: visible;">
      <div class="panel__wrapper">
        <div class="panel__scroller v-stack gap-8">
          <ul class="v-stack gap-4">
            {%- for link in section.settings.menu.links -%}
              <li class="h3 sm:h4">
                <button class="text-with-icon w-full group justify-between" aria-expanded="false" data-panel="1-{{ forloop.index0 }}">
                  <span>{{ link.title }}</span>
                  <span class="circle-chevron group-hover:colors group-expanded:colors">
                    <svg role="presentation" focusable="false" width="5" height="8" class="icon icon-chevron-right-small reverse-icon" viewBox="0 0 5 8">
                      <path d="m.75 7 3-3-3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                    </svg>
                  </span>
                </button>
              </li>
            {%- endfor -%}
          </ul>
        </div>
        
        <div class="panel-footer v-stack gap-5">
          <div class="panel-footer__localization-wrapper h-stack gap-6 border-t md:hidden">
            <a href="/account" class="panel-footer__account-link bold text-sm">{{ 'header.general.account' | t }}</a>
          </div>
        </div>
      </div>
    </div>
    {%- for link in section.settings.menu.links -%}
        <div class="panel" style="opacity: 0; visibility: hidden; transform: translateX(100%);">
          <div class="panel__wrapper" hidden="">
            <ul class="v-stack gap-4">
              <li class="lg:hidden" style="opacity: 1; visibility: visible; transform: translateY(0px);">
                <button class="text-with-icon h6 text-subdued" data-panel="0">
                  <svg role="presentation" focusable="false" width="7" height="10" class="icon icon-chevron-left reverse-icon" viewBox="0 0 7 10">
                    <path d="M6 1 2 5l4 4" fill="none" stroke="currentColor" stroke-width="2"></path>
                  </svg>
                  {{ link.title }}
                </button>
              </li>
              
              {%- for sub_link in link.links -%}
                <li class="h3 sm:h4" style="opacity: 1; visibility: visible; transform: translateY(0px);">
                  <button class="text-with-icon w-full justify-between" aria-expanded="false" data-panel="2-{{ forloop.index0 }}">
                    <span>{{ sub_link.title }}</span>
                    <span class="circle-chevron group-hover:colors group-expanded:colors">
                      <svg role="presentation" focusable="false" width="5" height="8" class="icon icon-chevron-right-small reverse-icon" viewBox="0 0 5 8">
                        <path d="m.75 7 3-3-3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                      </svg>
                    </span>
                  </button>
                </li>
              {%- endfor -%}
            </ul>
            
            {%- assign has_promo_images = false -%}
            {%- for block in section.blocks -%}
              {%- if block.settings.menu_item == link.title and block.type == 'promo_image' -%}
                {%- assign has_promo_images = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
            
            {%- if has_promo_images -%}
              <style>
                #navigation-promo-{{ link.handle }}-drawer {
                  --navigation-promo-grid: auto / auto;
                  --mega-menu-promo-grid-image-max-width: 300px;
                  --mega-menu-promo-grid-image-min-width: 172px;
                  --promo-heading-font-size: var(--text-h3);
                  --content-over-media-row-gap: var(--spacing-4);
                  --content-over-media-column-gap: var(--spacing-5);
                  --promo-heading-line-height: 1.2;
                }
  
                #navigation-promo-{{ link.handle }}-drawer .navigation-promo__carousel-controls {
                  inset-block-end: var(--content-over-media-column-gap);
                }
  
                @media screen and (min-width:700px) {
                  #navigation-promo-{{ link.handle }}-drawer {
                    --mega-menu-promo-grid-image-min-width: 192px;
                    --content-over-media-row-gap: var(--spacing-5);
                    --content-over-media-column-gap: var(--spacing-6);
                  }
                }
                
                @media screen and (min-width: 1150px) {
                  #navigation-promo-{{ link.handle }}-drawer {
                    --promo-heading-font-size: var(--text-h4);
                    --content-over-media-row-gap: var(--spacing-6);
                    --content-over-media-column-gap: var(--spacing-8);
                    --mega-menu-promo-grid-image-min-width: 220px;
                    --promo-heading-line-height: 1.3;
                  }
                }
              </style>
                          <div class="navigation-promo__wrapper" id="navigation-promo-{{ link.handle }}-drawer">
                            <div class="relative">
                              <mega-menu-promo-carousel id="promo-carousel-{{ link.handle }}-drawer" class="navigation-promo navigation-promo--carousel" role="region" style="--navigation-promo-gap: 0">
                                {%- for block in section.blocks -%}
                                  {%- if block.settings.menu_item == link.title and block.type == 'promo_image' -%}
                                    <a href="{{ block.settings.link }}" class="content-over-media rounded-sm group {% if forloop.first %}is-selected{% else %}reveal-invisible{% endif %}" style="--text-color: 255 255 255; grid-area: 1 / -1;">
                                      <img src="{{ block.settings.image | img_url: 'master' }}" 
                                           alt="{{ block.settings.image.alt | escape }}" 
                                           srcset="{{ block.settings.image | img_url: '200x' }} 200w, 
                                                   {{ block.settings.image | img_url: '300x' }} 300w, 
                                                   {{ block.settings.image | img_url: '400x' }} 400w, 
                                                   {{ block.settings.image | img_url: '500x' }} 500w, 
                                                   {{ block.settings.image | img_url: '600x' }} 600w, 
                                                   {{ block.settings.image | img_url: '800x' }} 800w, 
                                                   {{ block.settings.image | img_url: '1000x' }} 1000w" 
                                           width="{{ block.settings.image.width }}" 
                                           height="{{ block.settings.image.height }}" 
                                           loading="lazy" 
                                           sizes="(max-width: 699px) 100vw, (max-width: 1150px) 316px, 360px" 
                                           class="zoom-image">
                                      <div class="place-self-end-start text-custom">
                                        <p class="bold" style="font-size: var(--promo-heading-font-size); line-height: var(--promo-heading-line-height, 1.4)">{{ block.settings.heading }}</p>
                                      </div>
                                    </a>
                                  {%- endif -%}
                                {%- endfor -%}
                              </mega-menu-promo-carousel>
                              
                              <div class="navigation-promo__carousel-controls" style="--text-color: 255 255 255;">
                                <button is="prev-button" aria-controls="promo-carousel-{{ link.handle }}-drawer">
                                  <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
                                  <svg role="presentation" focusable="false" width="26" height="26" class="icon icon-circle-button-left-clipped reverse-icon" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12Zm1.53-14.47L11.06 12l2.47 2.47-1.06 1.06-3-3-.53-.53.53-.53 3-3 1.06 1.06Z" fill="currentColor"></path>
                                  </svg>
                                </button>
              
                                <button is="next-button" aria-controls="promo-carousel-{{ link.handle }}-drawer">
                                  <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
                                  <svg role="presentation" focusable="false" width="26" height="26" class="icon icon-circle-button-right-clipped reverse-icon" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12ZM10.47 9.53 12.94 12l-2.47 2.47 1.06 1.06 3-3 .53-.53-.53-.53-3-3-1.06 1.06Z" fill="currentColor"></path>
                                  </svg>
                                </button>
                              </div>
                            </div>
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endfor -%}
                  <div class="panel" style="opacity: 0; visibility: hidden; transform: translateX(100%);">
                    {%- for link in section.settings.menu.links -%}
                      {%- for sub_link in link.links -%}
                        <div class="panel__wrapper" hidden="">
                          <ul class="v-stack gap-4">
                            <li class="text-with-icon lg:hidden">
                              <button class="text-with-icon h6 text-subdued" data-panel="1-{{ forloop.parentloop.index0 }}">
                                <svg role="presentation" focusable="false" width="7" height="10" class="icon icon-chevron-left reverse-icon" viewBox="0 0 7 10">
                                  <path d="M6 1 2 5l4 4" fill="none" stroke="currentColor" stroke-width="2"></path>
                                </svg>
                                {{ sub_link.title }}
                              </button>
                            </li>
                            
                            {%- for sub_sub_link in sub_link.links -%}
                              <li class="h5 sm:h5">
                                <a class="group block w-full" href="{{ sub_sub_link.url }}">
                                  <span><span class="reversed-link">{{ sub_sub_link.title }}</span></span>
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      {%- endfor -%}
                    {%- endfor -%}
                  </div>
                </div>
              </navigation-drawer>
              
              <script>
                document.documentElement.style.setProperty('--header-height', Math.round(document.getElementById('shopify-section-{{ section.id }}').clientHeight) + 'px');
              </script>
              
              {% schema %}
              {
                "name": "Mega Menu com Imagens",
                "class": "shopify-section--header",
                "settings": [
                  {
                    "type": "header",
                    "content": "Configurações Gerais"
                  },
                  {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu",
                    "default": "main-menu"
                  },
                  {
                    "type": "checkbox",
                    "id": "enable_sticky_header",
                    "label": "Habilitar cabeçalho fixo",
                    "default": true
                  },
                  {
                    "type": "header",
                    "content": "Logo"
                  },
                  {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                  },
                  {
                    "type": "range",
                    "id": "mobile_logo_max_width",
                    "min": 50,
                    "max": 150,
                    "step": 5,
                    "unit": "px",
                    "label": "Largura máxima do logo (mobile)",
                    "default": 100
                  },
                  {
                    "type": "range",
                    "id": "logo_max_width",
                    "min": 50,
                    "max": 250,
                    "step": 5,
                    "unit": "px",
                    "label": "Largura máxima do logo (desktop)",
                    "default": 120
                  },
                  {
                    "type": "image_picker",
                    "id": "transparent_logo",
                    "label": "Logo transparente",
                    "info": "Usado quando o cabeçalho é transparente"
                  }
                ],
                "blocks": [
                  {
                    "type": "promo_image",
                    "name": "Imagem Promocional",
                    "settings": [
                      {
                        "type": "text",
                        "id": "menu_item",
                        "label": "Item do menu",
                        "info": "Insira o título exato do item do menu"
                      },
                      {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Imagem"
                      },
                      {
                        "type": "text",
                        "id": "heading",
                        "label": "Título",
                        "default": "VER COLEÇÃO"
                      },
                      {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                      }
                    ]
                  }
                ],
                "presets": [
                  {
                    "name": "Mega Menu com Imagens",
                    "settings": {}
                  }
                ]
              }
              {% endschema %}